
.iframe {
    /* border: 5px solid red; */

    width: 70rem;
    height: 73rem;

}

.video {
    text-align: center;
    margin-bottom: 5rem;
}

.video iframe {
    border: 0;

    width: 560px;
    height: 315px;
}

.video p {
    font-style: italic;
    margin-top: 0.5rem;
}
