<!DOCTYPE html>
<html>
    <% include ../header %>
    <title>Pendulum</title>
    <body>
        
        <div style="height:10px"></div>

        <b><h2>Pendulum</h2></b>

        <canvas id="canvas"></canvas>

        <br><br>

        <p>
            The physics of the double pendulum is definitely wrong :(
            <br><br>
            I have no idea how or why.
            <br><br>
            Somebody please help me.
        </p>

        <!-- Basic canvas gui stuff -->
        <script src="/canvasLib/drawFunctions.js"></script>
        <script src="/canvasLib/button.js"></script>
        <script src="/canvasLib/functions.js"></script>

        <script src="pendulumSim.js"></script>
        <script src="main.js"></script>

    </body>
</html>