@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


body {
    line-height: 1.6rem;
}

/* Inline <code> elements appear to push away the line below */
code {
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;

    margin-top: 2.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;

    margin-top: 1.7rem;
}

h4 {
    font-size: 1.0rem;
    font-weight: bold;

    margin-top: 1.2rem;
}


p, ul {
    margin-top: 1rem;
}

a {
    color: rgb(104, 243, 104);
    text-decoration: none;
}

li {
    list-style-type: disc;
    margin-left: 1.75rem;
}

/* Nested lists should not have ul margins. */
li ul {
    margin-top: 0;
}
