/* .dropdown {
    display: block;
} */
.dropdown {
    transition: height 0.3s ease; /* animate the height when it changes */
    padding-left: 0.1rem;
}

.dropdownButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.dropdownIcon {
    transition: transform 0.3s ease;
}

.dropdownIcon svg {
    fill: rgb(92, 92, 92);
    width: 0.7rem;
    height: 0.7rem;
}

.dropdownIcon.open {
    transform: rotate(90deg);

}

.dropdownContent {
    min-width: 100px;
    animation: fade-in 0.3s ease;

    padding: 0px 10px 3px 9px;
    margin: 0px 0px 10px 5px;

    border-left: 2px solid rgba(216, 216, 216, 0.1);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
