
.iframe {
    /* border: 5px solid red; */

    width: 42rem;
    height: 42rem;
}


.list {
    margin: 0.0rem;
}

.list li {
    margin: 0.4rem;
}


.video {
    text-align: center;
}

.video iframe {
    border: 0;
}
