
.content {
    padding: 1rem;

    line-height: 1.4rem;
}

.content h1, .content h2, .content h3, .content h4, .content p, .content ul {
    /* max-width: 40rem;
    margin-left: auto;
    margin-right: auto; */
}

.content a {
    color: rgb(18, 78, 189);
    font-weight: inherit;
}



.content .date {
    margin-top: -0.5rem;
    margin-bottom: 2rem;

    font-style: italic;
    font-weight: bold;
    color: grey;
}

.content .caption {
    font-style: italic;
    color: grey;
    margin-bottom: 1.5rem;
}
